extends ../layouts/common

block content
    h1 Update user
    form(action="/users/" + user.id + "/update" method="POST" class="form-group")
        input(type="text" name="name" placeholder="New name" class="form-control")
        button(class="btn btn-primary") Update
